@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
body {
  zoom: 1;
}
.Header {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  font-family: "Allura", cursive;
  font-weight: 1000;
  font-size: 3rem;
  color: white;
}
.Header div {
  cursor: pointer;
}
.addbtn {
  border-radius: 15px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  margin-top: 25px;
  border: 2px solid black;
  cursor: pointer;
}
.flex1 {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
}
#studentDetails {
  margin-left: 5%;
  margin-right: 5%;
}
.close {
  background-color: aqua;
  border: 1px solid black;
  width: 170px;
  height: 50px;
  margin-left: 55%;
  border-radius: 25px;
  font-size: 20px;
}
.update {
  border: 1px solid black;
  width: 170px;
  height: 50px;
  border-radius: 25px;
  margin-top: 25%;
  margin-left: 8%;
  font-size: 20px;
  cursor: pointer;
}
.update:hover {
  background-color: rgb(42, 238, 42);
  color: white;
}
.close:hover {
  background-color: rgba(228, 39, 39, 0.822);
  color: white;
}

.in1 {
  position: absolute;
  top: 100px;
  left: 15%;
}
.in2 {
  position: absolute;
  top: 100px;
  left: 25%;
}
.in3 {
  position: absolute;
  top: 200px;
  left: -34%;
}
.in4 {
  position: absolute;
  top: 200px;
  left: -24%;
}
.in5 {
  top: 220px;
  left: 15%;
  position: absolute;
}
.in6 {
  top: 220px;
  left: 25%;
  position: absolute;
}
.in7 {
  top: 320px;
  left: -34%;
  position: absolute;
}

.deleteIcon {
  color: red;
  padding-right: 10px;
  cursor: pointer;
}
.adsubmit {
  margin-left: -250px;
  margin-top: 100px;
}
.loginadmin {
  margin: 10%;
  margin-top: 9%;
}
.loginuser {
  margin-left: 55%;
  margin-top: -24.5%;
}
.ad2,
.ad4 {
  position: relative;
  left: 50px;
}
.newuser {
  margin-left: 42%;
  margin-top: 6%;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  font-size: large;
}
.newuser:hover {
  background-color: rgb(35, 222, 35);
}
.dashboard {
  margin: 5%;
  margin-top: 3%;
}
.img {
  zoom: 40%;
  margin-left: 60%;
  margin-top: -32%;
}
.img img {
  border-radius: 50px;
}
